@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<section class="menu-section px-5">
    <div class="container-fluid px-5 py-5">

        <div class="alert alert-success mt-3">
            <strong>Success!</strong> Your Reservation has been sent, and we are waiting for you 😍 
            <br><hr> <a href="../Home/">Back to Home page</a>
        </div>


    </div>
</section>
